
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=DM+Serif+Display:ital@0;1&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
.container1{
     margin: 0 auto;
     background-color: #2A2A2A;
}
.box{
     height: 427px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.input{
    display: flex;
    justify-content: center;
   gap: 6px;
    margin-top: 50px;
}
.inp1{
    width: 200px;
height: 39px;
border-radius: 5px;
font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 16px;
vertical-align: middle;
color: #757575;
padding-left: 20px;
}
.inp2{
    width: 100px;
height: 39px;
border-radius: 5px;
font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 16px;
vertical-align: middle;
color: #757575;
padding-left: 20px;
}
button{
    width: 70px;
height: 39px;
border-radius: 5px;
background-color: #D9534F;
font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 16px;
text-align: center;
vertical-align: middle;
border: none;
color: aliceblue;
}
.card{
    width: 244px;
height: 368px;
border-radius: 10px;
background: #333333;
box-shadow: 0px 0px 15px 0px #00000080;
}
.parent{
    display: flex;
    gap: 40px;
    justify-content: center;
flex-wrap: wrap;
}



.img{
    width: 214px;
height: 146px;
border-radius: 10px;
margin-left: 17px;
margin-top: 20px;
}
.text{
    font-family: Arial;
font-weight: 700;
font-style: Bold;
font-size: 18.7px;
text-align: center;
display: flex;
justify-content: center;
color: white;
width: 131px;
height: 43px;
margin-top: 25px;
margin-left: 60px;
}
.time{
    font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color: white;
text-align: center;
display: flex;
gap: 20px;
margin-top: 7px;
margin-left: 60px;
}
.type{
    font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 16px;
text-align: center;
color: white;
margin-top: 20px;
}
.btn{
    width: 75px;
height: 35px;
border-radius: 5px;
background-color: #5CB85C;
text-align: center;
font-family: Arial;
font-weight: 400;
font-style: Regular;
font-size: 13.3px;
color: white;
padding-top: 10px;
margin-top: 20px;
margin-left: 90px;
}

@media screen and(max-width:1200px){
.inp1{
    width: 170px;
    height: 34px;
}
.inp2{
        width: 85px;
height: 34px;
}
}
@media screen and(max-width:1024px){
.inp1{
    width: 149px;
    height: 30px;
}
.inp2{
        width: 77px;
height: 30px;
margin-top: 30px;
}
}
@media screen and(max-width:768px){
.inp1{
    width: 142px;
    height: 26px;
}
.inp2{
        width: 68px;
height: 26px;
margin-top: 30px;
}
}
@media screen and(max-width:576px){
.inp1{
    width: 138px;
    height: 23px;
}
.inp2{
        width: 59px;
height: 23px;
margin-top: 30px;
}
}